<div *ngIf="!article.title" class="message-box-container">
  <div class="message-box">
    <h1>
      Te afli pe pagina cu articole din Universul Constructiilor. <br />
      Spor la citit!
    </h1>
  </div>
</div>

<div *ngIf="!article.title" class="article-list">
  <div *ngFor="let article of articles" class="article">
    <div
      [style.backgroundImage]="'url(' + article.image800wWebp + ')'"
      [attr.aria-label]="article.title"
      [routerLink]="[pageSlugs.ARTICLES, article.slug]"
    >
      <h2>{{ article.title }}</h2>
      <p>{{ article.summary }}</p>
    </div>

    <a [routerLink]="[pageSlugs.ARTICLES, article.slug]">Citește mai mult...</a>
  </div>
</div>

<div *ngIf="article.title" class="message-box-container">
  <div class="message-box">
    <h1>{{ article.title }}</h1>
  </div>
</div>

<article *ngIf="article.title" class="article-container">
  <header>
    <div
      [style.backgroundImage]="'url(' + article.image800wWebp + ')'"
      [attr.aria-label]="article.title"
    >
      <h2>{{ article.summary }}</h2>
      <p>Categorie: {{ article.category }}</p>
      <p>Timp de citire estimat: {{ article.estimatedReadTime }}</p>
    </div>
  </header>
  <ng-container *ngFor="let section of article.sections">
    <section class="article-section" id="{{ section.slug }}">
      <h3>{{ section.title }}</h3>
      <div *ngFor="let image of section.images400wWebp" class="section-img">
        <img
          [src]="image"
          [alt]="section.title + ' image'"
          width="400px"
          height="400px"
        />
      </div>
      <p [innerHTML]="section.content"></p>
    </section>
  </ng-container>
  <footer>
    <p>Publicat în data de: {{ article.datePublished }}</p>
  </footer>
</article>
