<div class="message-box-container">
  <div class="message-box">
    <h1>Cui ne adresam și în ce moduri poți colabora cu noi?</h1>
  </div>
</div>

<div class="about-us-container">
  <section>
    <h2>Prin Networking-ul nostru te putem ajuta în mai multe moduri</h2>
    <img
      src="../../../../assets/networking-711x474px.webp"
      alt="Oameni care bat palma"
      width="711"
      height="474"
    />
    <p>
      Misiunea noastră este clară și puternică: transformăm visele arhitecturale
      în realitate, creând proiecte care inspiră și îmbogățesc comunitățile în
      care ne desfășurăm activitatea. Prin rețeaua noastră de conexiuni, în
      funcție de ce nevoi aveți, vă putem ajuta cât mai rapid și eficient.
    </p>
    <p>
      Colaborăm cu o varietate de profesioniști și organizații, de la arhitecți,
      ingineri și constructori, până la specialiști în domenii conexe. Acest
      lucru ne permite să oferim servicii complete și integrative, asigurându-ne
      că fiecare aspect al proiectului dvs. este gestionat cu cea mai mare
      atenție și profesionalism.
    </p>
    <p>
      Indiferent dacă sunteți în căutarea unui partener pentru un proiect
      complex de construcție, aveți nevoie de consultanță specializată sau
      căutați cele mai bune materiale și tehnologii pentru proiectul dvs.,
      rețeaua noastră este aici pentru a vă oferi suportul de care aveți nevoie.
    </p>
  </section>

  <section>
    <h2>Investitorilor</h2>
    <p>
      Noi, la {{ companyData.CompanyName }}, înțelegem că fiecare investiție
      contează. Suntem partenerul tău de încredere, dedicat transformării
      capitalului tău în proiecte tangibile, durabile și, cel mai important,
      profitabile. Prin colaborarea noastră, ne asigurăm că fiecare cent
      investit este valorificat la maximum, minimizând riscurile și maximizând
      randamentele. Suntem aici pentru a te ghida și a-ți oferi consultanța
      necesară în fiecare etapă a proiectului, asigurându-ne că obiectivele tale
      financiare sunt atinse și chiar depășite.
    </p>
  </section>

  <section>
    <h2>Arhitecților</h2>
    <p>
      Creativitatea ta merită să fie văzută și trăită. La
      {{ companyData.CompanyName }}, colaborăm strâns cu arhitecții pentru a da
      viață viziunilor lor artistice, asigurându-ne în același timp că toate
      aspectele funcționale și de conformitate tehnică sunt îndeplinite.
      Împreună, transformăm hârtia și ideile în structuri impresionante, care
      vorbesc despre viziunea și talentul tău. Lasă-ne să fim puntea dintre arta
      ta și realitatea construită, creând împreună spații care inspiră și
      rezistă testul timpului.
    </p>
  </section>

  <section>
    <h2>Inginerilor din Construcții</h2>
    <p>
      Tehnologia și inovația sunt în centrul a tot ceea ce facem la
      {{ companyData.CompanyName }}. Lucrăm mână în mână cu inginerii din
      construcții pentru a dezvolta soluții eficiente și durabile, care să
      răspundă provocărilor de astăzi și de mâine. Experiența și cunoștințele
      noastre, combinate cu dorința ta de inovație, creează o forță imbatabilă,
      capabilă să ducă la bun sfârșit proiecte de orice complexitate și
      envergură.
    </p>
  </section>

  <section>
    <h2>Beneficiari Persoane Fizice</h2>
    <p>
      Fie că visezi la casa perfectă sau planuiești să achiziționezi un teren
      pentru a-ți construi viitorul, echipa noastră este aici pentru a-ți
      transforma visele în realitate. Ne dedicăm în întregime pentru a oferi
      suport specializat în fiecare etapă a procesului tău de construcție. De la
      planificare și proiectare, până la execuție și finalizare, suntem alături
      de tine pentru a asigura că totul decurge conform planului.
    </p>
  </section>

  <section>
    <h2>Constructorilor</h2>
    <p>
      Construcția de calitate nu este doar un obiectiv, ci o promisiune pe care
      o facem fiecărui partener de construcții cu care colaborăm. Oferim
      servicii adaptate și soluții inovative în domeniul ingineriei și
      arhitecturii, toate menite să asigure realizarea de construcții eficiente,
      durabile și sustenabile. Suntem echipa ta extinsă, gata să răspundă la
      provocări și să contribuie la succesul proiectului tău.
    </p>
  </section>

  <section>
    <h2>Companiilor Mari pentru Outsourcing</h2>
    <p>
      Într-o lume în continuă schimbare și evoluție, eficiența și flexibilitatea
      sunt cheia succesului. Oferim servicii personalizate pentru a facilita
      externalizarea eficientă a proiectelor de construcție și inginerie,
      garantând în același timp calitate, siguranță și eficiență optimizată.
      Parteneriatul nostru înseamnă mai mult decât un serviciu externalizat;
      este o extensie a valorilor și angajamentului tău față de excelență.
    </p>
  </section>

  <section class="collaboration-modes-section">
    <h2>În ce moduri poți colabora cu noi?</h2>
    <p>
      La {{ companyData.CompanyName }}, credem în crearea de parteneriate solide
      și de lungă durată. Există diverse moduri în care ne putem uni forțele
      pentru a realiza proiecte excepționale:
    </p>

    <div class="collaboration-modes">
      <div class="collaboration-mode">
        <h3>Parteneriat Strategic</h3>
        <p>
          Creăm alianțe strategice cu companii și profesioniști pentru a
          dezvolta soluții inovatoare și personalizate, care să răspundă
          nevoilor specifice ale fiecărui proiect.
        </p>
      </div>

      <div class="collaboration-mode">
        <h3>Servicii de Consultanță</h3>
        <p>
          Oferim servicii de consultanță pentru a vă ghida prin complexitatea
          proceselor de construcție, asigurându-vă că proiectul dvs. este
          realizat conform celor mai înalte standarde.
        </p>
      </div>

      <div class="collaboration-mode">
        <h3>Proiectare și Urmărire Execuție</h3>
        <p>
          Suntem specializați în oferirea de servicii complete de proiectare și
          urmărire execuție, transformând viziunile arhitecturale în realități
          concrete și funcționale.
        </p>
      </div>

      <div class="collaboration-mode">
        <h3>Parteneriat pentru Inovație</h3>
        <p>
          Colaborăm cu start-up-uri și companii inovatoare pentru a dezvolta
          tehnologii și soluții de vârf, care să ne ajute să îmbunătățim
          continuu serviciile oferite.
        </p>
      </div>

      <div class="collaboration-mode">
        <h3>Subcontractare</h3>
        <p>
          Lucrăm cu firme de construcții și alte entități pentru a oferi
          servicii de subcontractare, asigurând flexibilitate și expertiză în
          realizarea proiectelor.
        </p>
      </div>
    </div>
  </section>

  <section>
    <a [href]="pageSlugs.CONTACT"><h2>Contact</h2></a>
    <p>
      Pentru mai multe informații sau întrebări, nu ezitați să ne contactați sau
      sa ne scrieți pe WhatsApp.
    </p>
    <p>
      <a
        [href]="'https://wa.me/' + phoneNumber + '?text=' + wppMessage"
        class="cta"
        title="WhatsApp"
        target="_blank"
      >
        <button>WhatsApp</button>
      </a>
    </p>
  </section>
</div>
