<div class="message-box-container">
  <div class="message-box">
    <h1>
      Bine ați venit pe pagina noastră! Mai jos veți găsi câteva articole
      interesante din domeniul construcțiilor.
    </h1>
  </div>
</div>

<div class="article-list">
  <div *ngFor="let article of articles" class="article">
    <div
      [style.backgroundImage]="'url(' + article.image800wWebp + ')'"
      [routerLink]="[pageSlugs.ARTICLES, article.slug]"
    >
      <h2>{{ article.title }}</h2>
      <p>{{ article.summary }}</p>
    </div>

    <a [routerLink]="[pageSlugs.ARTICLES, article.slug]">Citește mai mult...</a>
  </div>
</div>

<div class="message-box-container">
  <div class="message-box">
    <h4>Mai jos gasiti serviciile noastre!!!</h4>
  </div>
</div>

<div class="article-list">
  <div *ngFor="let service of services" class="article">
    <div
      [style.backgroundImage]="'url(' + service.image800wWebp + ')'"
      [routerLink]="[pageSlugs.SERVICES, service.slug]"
    >
      <h2>{{ service.title }}</h2>
      <p>{{ service.summary }}</p>
    </div>

    <a [routerLink]="[pageSlugs.SERVICES, service.slug]">Citește mai mult...</a>
  </div>
</div>
