<header class="topbar-container">
  <nav class="mobile-nav" role="navigation">
    <div class="menuToggle">
      <input
        type="checkbox"
        class="menu-checkbox"
        aria-label="Meniu de navigare"
      />
      <!-- <label for="menu-checkbox" class="visually-hidden">Meniu</label> -->

      <span></span>
      <span></span>
      <span></span>

      <ul class="menu">
        <li class="logo">
          <a href="/" aria-label="Home">
            <img
              src="../../../assets/logo.png"
              alt="Logo Companie"
              width="148px"
              height="80px"
            />
          </a>
        </li>

        <li>
          <a [href]="pageSlugs.ARTICLES" [title]="pageTitles.ARTICLES">{{
            pageTitles.ARTICLES
          }}</a>
        </li>
        <li>
          <a [href]="pageSlugs.SERVICES" [title]="pageTitles.SERVICES">{{
            pageTitles.SERVICES
          }}</a>
        </li>
        <li>
          <a [href]="pageSlugs.ABOUT_US" [title]="pageTitles.ABOUT_US">{{
            pageTitles.ABOUT_US
          }}</a>
        </li>
        <li>
          <a
            [href]="pageSlugs.COLLABORATION"
            [title]="pageTitles.COLLABORATION"
            >{{ pageTitles.COLLABORATION }}</a
          >
        </li>
        <li>
          <a [href]="pageSlugs.HIRING" [title]="pageTitles.HIRING">{{
            pageTitles.HIRING
          }}</a>
        </li>
        <li>
          <a [href]="pageSlugs.CONTACT" [title]="pageTitles.CONTACT">{{
            pageTitles.CONTACT
          }}</a>
        </li>
        <li>
          <a
            [href]="'https://wa.me/' + phoneNumber + '?text=' + wppMessage"
            class="cta"
            title="WhatsApp"
            target="_blank"
          >
            <button>WhatsApp</button>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="desktop-nav" role="navigation">
    <a class="logo" href="/" aria-label="Home">
      <img
        src="../../../assets/logo.png"
        alt="Logo Companie"
        width="148px"
        height="80px"
      />
    </a>
    <ul>
      <li>
        <a [href]="pageSlugs.ARTICLES" [title]="pageTitles.ARTICLES">{{
          pageTitles.ARTICLES
        }}</a>
      </li>
      <li>
        <a [href]="pageSlugs.SERVICES" [title]="pageTitles.SERVICES">{{
          pageTitles.SERVICES
        }}</a>
      </li>
      <li>
        <a [href]="pageSlugs.ABOUT_US" [title]="pageTitles.ABOUT_US">{{
          pageTitles.ABOUT_US
        }}</a>
      </li>
      <li>
        <a
          [href]="pageSlugs.COLLABORATION"
          [title]="pageTitles.COLLABORATION"
          >{{ pageTitles.COLLABORATION }}</a
        >
      </li>
      <li>
        <a [href]="pageSlugs.HIRING" [title]="pageTitles.HIRING">{{
          pageTitles.HIRING
        }}</a>
      </li>
      <li>
        <a [href]="pageSlugs.CONTACT" [title]="pageTitles.CONTACT">{{
          pageTitles.CONTACT
        }}</a>
      </li>
    </ul>
    <a
      [href]="'https://wa.me/' + phoneNumber + '?text=' + wppMessage"
      class="cta"
      title="WhatsApp"
      target="_blank"
    >
      <button>WhatsApp</button>
    </a>
  </nav>
</header>
